* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

.register {
    width: 45%;
    margin: 0 auto;
}
.register .register-btn {
    width: 100%;
    text-align: center;
    background-color: antiquewhite;
    border: none;
    padding: 0.6rem 0;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
    border: 0;
    border-radius: 6px;
    color: #fff;
    cursor: pointer;
    font-size: 21px;
    font-weight: 500;
}
header {
    background: rgb(61, 111, 239);
}

header nav {
    color: white;
}

@media screen and (max-width: 900px) {
    .register {
        width: 95%;
        margin: 0 auto;
    }
  }